@media screen and (max-width:1380px) {}

@media screen and (max-width:1200px) {
    body.toggle .navlink {
        transform: translateX(0);

    }


    .open {
        display: block;
        color: var(--secondary-color);
        font-size: 30px;
    }

    .closebutton {
        display: block;
        position: absolute;
        top: 20px;
        right: 40px;
        color: #fff;
        font-size: 25px;
    }

    .saerchbar {
        display: none;
    }


    .navlink {
        transform: translateX(-100%);
        transition: all 0.5s linear;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background: var(--primary-color);
        width: 400px;
        padding: 40px;
        margin: 0;
        z-index: 9;
    }

    ul.subnav {
        display: none !important;
    }

    .navlink ul li:hover ul.subnav {
        display: block !important;
    }

    .navlink ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        position: static;
    }

    .navbar .navlink {
        margin-left: -15px;

    }

    .navlink ul li a {
        color: var(--secondary-color);
    }

    .navlink ul li a:hover {
        color: #fff;
    }

    .active {
        border-bottom: 2px solid #fff;
        color: #fff !important;
    }

    .navlink ul li {
        padding: 10px;
    }

    .box1 h2 {
        margin-top: 10px;
    }

    .social_profile ul li a {
        font-size: 18px;
        width: 45px;
        height: 45px;
        line-height: 47px;
    }

    .copyright {
        margin-top: 20px;
        padding-top: 10px;
    }

    .same_box h1 {
        font-size: 35px;
    }

    .same_box p {
        font-size: 16px;

    }

}

@media (max-width: 991px) {
    .row.upcoming_aside h3 {
        margin-bottom: 0;
        margin-top: 20px;
    }

    .row.upcoming_aside {
        margin-top: 20px;

    }

    .hotel_box {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: 100%;
        text-align: center;
        background: #fff;
        padding: 20px;
        margin-left: 0px;
        text-align: left;
    }

    .hotel_box.reverse {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: 100%;
        text-align: center;
        background: #fff;
        padding: 40px;
        margin-left: 0;
        margin-right: 0px;
    }

    .hotel_box.reverse p {
        text-align: left;
    }

    .single_footer.single_footer_address {
        display: block;
    }

    .single_footer.single_footer_menu ul {
        display: block;
        margin-bottom: 20px;
    }

    .single_footer ul li {
        border-right: unset;
        padding-right: unset;
    }

    .social_profile ul li a {
        margin: 0px 5px 0px 0;
    }

    h2 {
        padding-bottom: 20px;
        font-size: 28px;
    }

    .form-control {
        width: 50%;

    }

    .form_box {
        width: 100%;
    }

    .thessa_main_inner {
        margin: 20px 0 10px;
    }

    .detail_box {
        margin-left: 0px;
        height: auto;
    }
    .single_footer {
        margin-bottom: 50px;
    }
    .single_footer h4 {
        margin-bottom: 20px;
    }
    .single_footer p {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    a.button_main {
        padding: 10px 20px 10px 20px;
    }
    .casino {
        margin-bottom: 40px;
    }

    .banner_box h1 {
        font-size: 32px;
    }

    .banner__text h1 {
        font-size: 32px;
        padding: 30px 10px;
    }

    .home_detail {
        padding: 20px 0;
    }

    .three_steps {
        padding: 20px 0;
    }

    .form-control {
        width: 70%;

    }

    .banner_head:after {
        width: 41%;
    }

    .casino_heading.overlay span {
        font-size: 60px;
    }
    .single_footer h4 {
        margin-bottom: 10px;
    }
    .single_footer {
        margin-bottom: 20px;
    }
}

@media (max-width: 575px) {
    body.toggle .navlink {
        width: 100%;

    }

    .navbar .navlink {
        margin-left: 0px;
    }

    .box img {
        width: 90px;
    }

    .row.upcoming_aside {
        padding-left: 20px;
        margin-left: 20px;

    }

    .row.upcoming_aside h3 {
        font-size: 28px;
    }

    .refer_inner>img {
        width: 100%;
    }

    .gallery.mb-2 {
        height: auto;
    }

    .simple-section {
        padding: 20px 0;
    }

    .inner_div {
        height: auto;

    }

    .detail_section {
        padding: 20px 0;
    }

    .hotel_accordian {
        padding: 20px 0;
    }

    .aside-image img {
        height: 270px;
    }

    .aside-image {
        text-align: center;
    }

    .hotel_btn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        justify-content: center;
    }
    .casino_heading.overlay span {
        font-size: 45px;
    }
    .casino-img {
        height: 250px;
    }
    .footer .container {
        padding: 20px;
    }
    .detail_img img {
        height: 300px;
    }
    .hotel_img img {
        height: 250px;
    }
}